name: Build

on:
  workflow_call:
    inputs:
      upload:
        type: boolean
        required: true

permissions:
  contents: read

jobs:
  build:
    name: Build, Test, and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Lint code
        run: npm run check

      - name: Format code
        run: npm run format

      - name: Run Tests
        run: npm test

      - name: Build Site
        run: npm run build

      - name: Upload build artifacts
        if: inputs.upload
        uses: actions/upload-artifact@v4
        with:
          name: public
          path: ./public
